.form {
	@include formContainer;

	.body {
		height: calc(100% - 54px);
		padding: 26px 10px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include border;
		border-top-color: transparent;
		border-bottom-left-radius: $radius20;
		border-bottom-right-radius: $radius20;

		.action-block {
			height: 45px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
			.message {
				width: 100%;
				height: 100%;
				background-color: #efefef;
				border-radius: $radius13;
				border-color: #cecece;
				padding: 15px 10px;
				resize: none;

				@include textareaFontStyles;
			}
			.submit {
				flex: none;
			}
		}
	}

	.content {
		padding: 25px 10px;
	}
}
