.message {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 20px;
	border-radius: $radius13;
	background-color: $colorEF;
	.information {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 8px;
		line-height: 13px;
	}
	.text {
		@include messageFontStyles;
	}
}
