.container {
	display: flex;
	align-items: center;
	gap: 24px;
	text-wrap: nowrap;

	span,
	input[type='text'] {
		width: 220px;
	}

	.input {
		@include input;
		color: $color7B;
	}
}
.offset-left {
	translate: calc(-24px - 22px) 0;
}
