.container {
	width: 220px;
	display: flex;
	align-items: center;
	gap: 24px;
	text-wrap: nowrap;
}

.input {
	width: 100%;
	@include input;
	color: $color7B;
}

.error {
	color: $redColor;
	font-size: 12px;
}

.active {
	color: #000;
}

.hidden-border {
	border-color: transparent;
	outline-color: transparent;
}

.offset-left {
	translate: calc(-24px - 22px) 0;
}
