$radius7: 7px;
$radius13: 13px;
$radius17: 17px;
$radius20: 20px;

@mixin border {
	border: 2px solid $utilitiesColor;
}

@mixin button {
	@include border;
	border-color: $mainColor;
	border-radius: $radius13;
	@include buttonFontStyles;
}

@mixin input {
	width: 100%;
	padding-inline: 15px;
	border: 1px solid $utilitiesColor;
	border-radius: $radius13;
	@include inputFontStyles;
}

@mixin formContainer {
	overflow: hidden;

	.label-container {
		padding: 13px;
		border-top-left-radius: $radius20;
		border-top-right-radius: $radius20;
		background-color: $mainBackGroundColor;
		span {
			font-size: 16px;
			font-weight: 700;
			line-height: 28px;
			color: #fff;
		}
	}
}
