@mixin inter {
	font-family: Inter;
	letter-spacing: -0.02em;
}

@mixin montserrat {
	letter-spacing: 0.02em;
}

@mixin titleFontStyles {
	font-size: 62px;
	line-height: 83px;
	font-weight: 800;
	@include montserrat;
	color: $mainColor;
	text-align: center;
}

@mixin subtitleFontStyles {
	font-size: 18px;
	line-height: 29.5px;
	font-weight: 400;
	@include montserrat;
	text-align: center;
}

@mixin formHeadersFontStyles {
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	@include montserrat;
}

@mixin applicationFontStyles {
	font-size: 32px;
	line-height: 45px;
	font-weight: 700;
	@include montserrat;
	color: $mainColor;
}

@mixin inputFontStyles {
	@include inter;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

@mixin buttonFontStyles {
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	@include montserrat;
	color: $mainColor;
}

@mixin tooltipFontStyles {
	@include inter;
	font-size: 10px;
	font-weight: 400;
	line-height: 15px;
}

@mixin textareaFontStyles {
	@include inter;
	font-size: 10px;
	font-weight: 400;
	line-height: 15px;
}

@mixin messageFontStyles {
	font-size: 10px;
	font-weight: 400;
	line-height: 15px;
}
