.dashboard {
	.tabs {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 16px;
		line-height: 24px;

		.tab {
			padding: 10px 60px;
			@include border;
			border-bottom: none;
			border-top-left-radius: $radius20;
			border-top-right-radius: $radius20;
		}
	}
	.content {
		min-height: 246px;
		padding: 48px;
		@include border;
		border-bottom-left-radius: $radius20;
		border-bottom-right-radius: $radius20;
	}
}
