.form {
	display: flex;
	flex-direction: column;
	gap: 20px;

	fieldset {
		border: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.input {
			height: 28px;
			border-radius: $radius7;
		}

		&:first-child {
			span::after {
				content: '';
				position: absolute;
				left: 200px;
				top: 25px;
				height: calc(100% - 50px);
				width: 2px;
				background-color: $utilitiesColor;
				border-radius: 0 $radius13 $radius13 0;
				z-index: 1;
			}
		}
	}

	span {
		@include formHeadersFontStyles;
	}
}
