.container {
	position: relative;
	max-width: 580px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 25px 30px;
	@include border;
	border-radius: $radius13;
	color: $color7B;

	fieldset {
		border: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	span {
		@include formHeadersFontStyles;
		&::after {
			content: '';
			position: absolute;
			left: 200px;
			top: 25px;
			height: calc(100% - 50px);
			width: 2px;
			background-color: $utilitiesColor;
			border-radius: 0 $radius13 $radius13 0;
			z-index: 1;
		}
	}

	input[type='text'],
	input[type='password'] {
		height: 28px;
		border-radius: $radius7;
	}
}
