.container {
	display: flex;
	justify-content: space-between;

	.form-container {
		position: relative;
		max-width: 580px;
		width: 100%;
		min-height: 174px;
		padding: 25px 30px;
		@include border;
		border-width: 1px;
		border-radius: $radius13;
		border-color: $color7B;
		color: $color7B;
	}
}

.actions-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.button {
		width: 160px;
		height: 48px;

		&:first-child {
			@include button;
			display: grid;
			place-items: center;
			border-color: $color7B;
			color: $color7B;
		}
	}
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;

	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	@include inter;
	color: #cccccc;
}
